[submodule "auth-service"]
	path = auth-service
	url = https://github.com/shimshon-levi/auth-service.git
[submodule "client-service"]
	path = client-service
	url = https://github.com/shimshon-levi/client-service.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/shimshon-levi/frontend.git
